{% extends 'base.html.twig' %}
{% block scripts %}
    {{ parent() }}

    {#<script src="{{ 'js/hello.js' }}"></script>#}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {% for formInput in form %}
        {% if formInput.children|length > 0 %}
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_label(formInput) }}
                    {{ form_errors(formInput) }}
                    {{ form_widget(formInput, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}